DATABASE_URL=postgresql://USER:PASSWORD@ep-xxxx-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require
JWT_SECRET=OuXr9anOryxDIVgT19FD76bpPMSm-CviC19FR5SYpHo
JWT_EXPIRE_HOURS=720
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_SECRET_KEY=fanta-matrimonio-admin-secret-key-2026
ENVIRONMENT=development
